@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply text-black text-sm;
  }
}
/* kaam */
body {
  font-family: "Poppins", sans-serif;
}
/* styles.css */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.light-mode {
  /* Light mode styles */
}

.dark-mode {
  /* Dark mode styles */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

/* STRAIGHT LINE LOADER */
@keyframes l16 {
  0% { background-position: -150% 0, -150% 0; }
  66% { background-position: 250% 0, -150% 0; }
  100% { background-position: 250% 0, 250% 0; }
}

.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 2s infinite;
}
/* PIZZA LOADER */
.PizzaLoader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #d1914b;
  box-sizing: border-box;
  --c: no-repeat radial-gradient(farthest-side, #d64123 94%, #0000);
  --b: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background:
    var(--c) 11px 15px,
    var(--b) 6px 15px,
    var(--c) 35px 23px,
    var(--b) 29px 15px,
    var(--c) 11px 46px,
    var(--b) 11px 34px,
    var(--c) 36px 0px,
    var(--b) 50px 31px,
    var(--c) 47px 43px,
    var(--b) 31px 48px,
    #f6d353;
  background-size: 15px 15px, 6px 6px;
  animation: l4 3s infinite;
}

@keyframes l4 {
  0% { -webkit-mask: conic-gradient(#0000 0%, #000 0%); }
  16.67% { -webkit-mask: conic-gradient(#0000 60deg, #000 0%); }
  33.33% { -webkit-mask: conic-gradient(#0000 120deg, #000 0%); }
  50% { -webkit-mask: conic-gradient(#0000 180deg, #000 0%); }
  66.67% { -webkit-mask: conic-gradient(#0000 240deg, #000 0%); }
  83.33% { -webkit-mask: conic-gradient(#0000 300deg, #000 0%); }
  100% { -webkit-mask: conic-gradient(#0000 360deg, #000 0%); }
}
