@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply text-black text-sm;
  }
}
/* kaam */

/* styles.css */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
